.category-container {
    display: flex;
    flex-wrap: wrap;
}

.category-row {
    display: flex;
    flex-wrap: wrap;
}

.category-column {
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}